@use 'variables' as *;

@mixin font-face($family, $path, $weight: normal, $style: normal, $swap: 'auto') {
    @font-face {
        font-weight: $weight;
        font-family: $family;
        font-display: $swap;
        font-style: $style;
        src: url('#{$path}.woff2') format('woff2');
    }
}

@mixin xs() {
    @media screen and (min-width: $xs) {
        @content;
    }
}

@mixin sm() {
    @media screen and (min-width: $sm) {
        @content;
    }
}

@mixin md() {
    @media (min-width: $md) {
        @content;
    }
}

@mixin lg() {
    @media (min-width: $lg) {
        @content;
    }
}
