// Screen sizes
$xs: 768px;
$sm: 1025px;
$md: 1440px;
$lg: 1920px;

// Fonts
$font-family-inter:
    'Montserrat',
    -apple-system,
    blinkmacsystemfont,
    'Segoe UI',
    roboto,
    system-ui,
    'Open Sans',
    'Helvetica Neue',
    arial,
    sans-serif;

// Colors
$color-black: #212121;
$color-white: #ececec;
